In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
response=requests.get('https://www.mygov.in/covid-19')
# print(response.content)

In [4]:
htmlcontent=response.content
soup=BeautifulSoup(htmlcontent,'html.parser')

In [4]:
# print(soup.prettify)

In [5]:
# product=soup.findAll('div',attrs={'class':'views-row'})
# print(product)

In [15]:
# state=[]
# confirm_cases=[]
# active_cases=[]
# discharged=[]
# deaths=[]
# vaccinated=[]

# for i in soup.findAll('div',attrs={'class':'views-row'}):
#     try:
#         a=i.find('span',attrs={'class':'st_name'})
#         b=i.find('span',attrs={'class':'st_number'})
#         c=i.find('div',attrs={'class':'tick-active'})
#         d=i.find('div',attrs={'class':'tick-discharged'})
#         e=i.find('div',attrs={'class':'tick-death'})
#         f=i.find('div',attrs={'class':'tick-total-vaccine'})
#         # print(a,b)
#         # print(f.text)
#         state.append(a.text)
#         confirm_cases.append(b.text)
#         active_cases.append((c.text)[7:])
#         discharged.append((d.text)[11:])
#         deaths.append((e.text)[7:])
#         vaccinated.append((f.text)[12:])
        
#     except:
#         pass
# print(vaccinated)
# print(len(state),len(confirm_cases))

In [5]:
def collect(upper,tag,clas=""):
    lis=[]
    for i in soup.findAll('div',attrs={'class':upper}):
        try:
            if(clas==""):
                a=i.find(tag)
            else:
                a=i.find(tag,attrs={'class':clas})
            lis.append(a.text)
        except:
            pass
    return(lis)
def remove_comma(lis):
    l=[]
    for ele in lis:
        s=ele.replace(",","")
        l.append(s)
    return(list(map(int,l)))
    # return None

state=collect('views-row',"span",'st_name')
print(state)

confirm_cases=collect('views-row','span','st_number')
confirm_cases=remove_comma(confirm_cases)

active_cases=collect('tick-active',"small")
# print(active_cases)
active_cases=remove_comma(active_cases)

discharged=collect('tick-discharged','small')
discharged=remove_comma(discharged)

deaths=collect('tick-death','small')
deaths=remove_comma(deaths)

vaccinated=collect('tick-total-vaccine','small')
vaccinated=remove_comma(vaccinated)

# remove_comma(["abh,hdgd,shdh","gd,dhd,dhd"])

['Andaman and Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telengana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

In [6]:
df=pd.DataFrame({'States':state,'Confirmed caases':confirm_cases,'Active cases':active_cases,'Discharged':discharged,'Deaths':deaths,'Vaccinated':vaccinated})

In [7]:
df

,States,Confirmed caases,Active cases,Discharged,Deaths,Vaccinated
0,Andaman and Nicobar,7415,97,7191,127,137476
1,Andhra Pradesh,1853183,58140,1782680,12363,13995490
2,Arunachal Pradesh,33375,2539,30677,159,494098
3,Assam,485310,32625,448442,4243,5719444
4,Bihar,719939,3017,707365,9557,14230305
5,Chandigarh,61444,311,60327,806,459476
6,Chhattisgarh,991171,8564,969212,13395,7654760
7,Dadra and Nagar Haveli and Daman and Diu,10516,60,10452,4,317181
8,Delhi,1432381,1996,1405460,24925,6602862
9,Goa,164654,3066,158591,2997,775698
10,Gujarat,822485,5639,806812,10034,22591453
11,Haryana,767580,2337,755968,9275,7855655
12,Himachal Pradesh,200603,2408,194747,3448,2918363
13,Jammu and Kashmir,312156,7759,300135,4262,4005925
14,Jharkhand,344665,1489,338076,5100,5874120
15,Karnataka,2811320,123156,2654139,34025,19607865
16,Kerala,2816843,100135,2704554,12154,12408654
17,Ladakh,19838,365,19271,202,200719
18,Lakshadweep,9471,319,9106,46,51969
19,Madhya Pradesh,789350,1980,778584,8786,16708036
20,Maharashtra,5979051,127523,5733215,118313,28082920
21,Manipur,64418,9298,54065,1055,572286
22,Meghalaya,45555,4196,40574,785,604147
23,Mizoram,17979,4227,13667,85,445757
24,Nagaland,24374,1844,22055,475,409466
25,Odisha,880533,32099,844801,3633,10137051
26,Puducherry,115080,3364,109990,1726,436106
27,Punjab,592658,6477,570327,15854,6365480
28,Rajasthan,951256,2691,939664,8901,21692192
29,Sikkim,19321,2448,16580,293,371503
30,Tamil Nadu,2429924,61329,2337209,31386,13078161
31,Telengana,614399,17246,593577,3576,0
32,Tripura,62745,3910,58181,654,2094009
33,Uttar Pradesh,1704476,4163,1678089,22224,26322777
34,Uttarakhand,338807,2964,328799,7044,3675578
35,West Bengal,1483586,22740,1443456,17390,19328213