In [42]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [43]:
response=requests.get('https://www.mygov.in/covid-19')
# print(response.content)

In [44]:
htmlcontent=response.content
soup=BeautifulSoup(htmlcontent,'html.parser')

In [4]:
# print(soup.prettify)

In [5]:
# product=soup.findAll('div',attrs={'class':'views-row'})
# print(product)

In [15]:
# state=[]
# confirm_cases=[]
# active_cases=[]
# discharged=[]
# deaths=[]
# vaccinated=[]

# for i in soup.findAll('div',attrs={'class':'views-row'}):
#     try:
#         a=i.find('span',attrs={'class':'st_name'})
#         b=i.find('span',attrs={'class':'st_number'})
#         c=i.find('div',attrs={'class':'tick-active'})
#         d=i.find('div',attrs={'class':'tick-discharged'})
#         e=i.find('div',attrs={'class':'tick-death'})
#         f=i.find('div',attrs={'class':'tick-total-vaccine'})
#         # print(a,b)
#         # print(f.text)
#         state.append(a.text)
#         confirm_cases.append(b.text)
#         active_cases.append((c.text)[7:])
#         discharged.append((d.text)[11:])
#         deaths.append((e.text)[7:])
#         vaccinated.append((f.text)[12:])
        
#     except:
#         pass
# print(vaccinated)
# print(len(state),len(confirm_cases))

In [45]:
def collect(upper,tag,clas=""):
    lis=[]
    for i in soup.findAll('div',attrs={'class':upper}):
        try:
            if(clas==""):
                a=i.find(tag)
            else:
                a=i.find(tag,attrs={'class':clas})
            lis.append(a.text)
        except:
            pass
    return(lis)
def remove_comma(lis):
    l=[]
    for ele in lis:
        s=ele.replace(",","")
        l.append(s)
    return(list(map(int,l)))
    # return None

state=collect('views-row',"span",'st_name')
print(state)

confirm_cases=collect('views-row','span','st_number')
confirm_cases=remove_comma(confirm_cases)

active_cases=collect('tick-active',"small")
# print(active_cases)
active_cases=remove_comma(active_cases)

discharged=collect('tick-discharged','small')
discharged=remove_comma(discharged)

deaths=collect('tick-death','small')
deaths=remove_comma(deaths)

vaccinated=collect('tick-total-vaccine','small')
vaccinated=remove_comma(vaccinated)

# remove_comma(["abh,hdgd,shdh","gd,dhd,dhd"])

['Andaman and Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telengana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

In [47]:
df=pd.DataFrame({'States':state,'Confirmed cases':confirm_cases,'Active cases':active_cases,'Discharged':discharged,'Deaths':deaths,'Vaccinated':vaccinated})

In [48]:
df

,States,Confirmed caases,Active cases,Discharged,Deaths,Vaccinated
0,Andaman and Nicobar,7406,102,7177,127,136695
1,Andhra Pradesh,1850563,63068,1775176,12319,13932868
2,Arunachal Pradesh,33081,2515,30407,159,480393
3,Assam,482505,33554,444743,4208,5355239
4,Bihar,719694,3189,706955,9550,13671362
5,Chandigarh,61430,353,60271,806,452809
6,Chhattisgarh,990675,9192,968096,13387,7563476
7,Dadra and Nagar Haveli and Daman and Diu,10514,68,10442,4,308636
8,Delhi,1432292,2091,1405287,24914,6526767
9,Goa,164436,3268,158178,2990,759938
10,Gujarat,822334,6109,806193,10032,22080113
11,Haryana,767418,2491,755681,9246,7354642
12,Himachal Pradesh,200410,2711,194257,3442,2819334
13,Jammu and Kashmir,311794,8631,298911,4252,3968736
14,Jharkhand,344543,1596,337848,5099,5773234
15,Karnataka,2806453,126835,2645735,33883,18482685
16,Kerala,2809394,106376,2690958,12060,12145793
17,Ladakh,19805,363,19240,202,199275
18,Lakshadweep,9443,319,9078,46,51543
19,Madhya Pradesh,789261,2214,778280,8767,15011955
20,Maharashtra,5972781,135363,5719457,117961,27699399
21,Manipur,64065,9613,53405,1047,565670
22,Meghalaya,45286,4587,39919,780,590939
23,Mizoram,17605,4132,13390,83,428676
24,Nagaland,24248,1890,21889,469,399316
25,Odisha,877502,33698,840214,3590,9838167
26,Puducherry,114847,3562,109562,1723,418469
27,Punjab,592303,7421,569056,15826,6270666
28,Rajasthan,951105,3079,939131,8895,21230677
29,Sikkim,19296,2697,16306,293,359370
30,Tamil Nadu,2422497,69372,2321928,31197,12680121
31,Telengana,613202,17765,591870,3567,0
32,Tripura,62324,3942,57732,650,1942646
33,Uttar Pradesh,1704358,4569,1677611,22178,25593398
34,Uttarakhand,338644,3136,328473,7035,3555294
35,West Bengal,1481707,23016,1441343,17348,19000432